/* color Hexa: noir: #131313, marron: #343131, marron clair: #A04747, orange: #D8A25E, Jaune: #EEDF7A  https://colorhunt.co/palette/343131a04747d8a25eeedf7a*/

body {
	margin: 0;
	padding: 0;
	background-color: #131313;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
section {
	max-width: 100%;
	width: 600px;
	height: 75vh;
	background-color: #343131;
	border-radius: 40px;
	box-shadow: 2px 2px 8px #000000;
}
.result {
	padding: 50px;
}

h1 {
	color: aliceblue;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: 300;
	text-align: right;
	font-size: 4rem;
	margin-bottom: -20px;
}
.line {
	display: flex;
	justify-content: center;
	margin: 20px;
}
button {
	border: none;
	font-size: 1.5rem;
	width: 90px;
	height: 60px;
	margin: 0 20px;
	border-radius: 40px;
	box-shadow: 2px 2px 15px #00000033;
	color: aliceblue;
	background-color: rgba(128, 128, 128, 0.486);
	cursor: pointer;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
button:active {
	transform: translateY(4px);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.yellowButton {
	color: #f5e892;
	background-color: #d8a15e5b;
}
.yellowWhiteButton {
	color: aliceblue;
	background-color: #dbc744c2;
}
hr {
	border: none;
	height: 1.5px;
	background-color: rgba(128, 128, 128, 0.13);
	margin: 20px 0;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.cursor {
	display: inline-block;
	width: 2px;
	height: 1em;
	margin-bottom: -0.2rem;
	background-color: #d8a25e;
	animation: blink 1.2s step-start infinite;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
	margin-top: 20px;
	color: #343131;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
}

@media (max-width: 601px) {
	body {
		height: auto;
		justify-content: center;
		margin-top: 30px;
	}
	section {
		width: 100%;
		height: auto;
		border-radius: 20px;
		padding-bottom: 10px;
	}
	h1 {
		font-size: 2.8rem;
	}

	button {
		width: 70px;
		height: 50px;
		margin: 0 10px;
		font-size: 1.2rem;
	}
	.line {
		margin: 10px 0;
	}
	.result {
		padding: 20px;
	}
	h2 {
		display: none;
	}
}
.landscape-warning {
	display: none;
	text-align: center;
	padding: 20px;
	font-size: 1.2rem;
	color: aliceblue;
	border: #d8a25e solid 1.8px;
	border-radius: 10px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 933px) and (orientation: landscape) {
	.app-content {
		display: none;
	}

	.landscape-warning {
		display: block;
	}
}
